
////////////////////////////////////////////////////////////////////////

   //
   //  config file for "reformat_rad" program
   //

////////////////////////////////////////////////////////////////////////

   //
   //  threshold to control which data is written out to MPR file
   //

data_threshold = >=1.0;

////////////////////////////////////////////////////////////////////////

