

////////////////////////////////////////////////////////////////////////


   //
   //  default plotting information
   //


////////////////////////////////////////////////////////////////////////


plot_info = {

   output_directory = ".";

   size = 4;

   do_annotation = true; 
   font_family   = "Helvetica";  //  possibilities are:  Helvetica, NewCentury, Palatino, Times, Courier

   anno_background_color = [ 200, 200, 200 ]; // rgb triple values, 0-255
   anno_text_color       = [   0,   0, 150 ]; // rgb triple values, 0-255
   anno_font_size        = 20.0;
   title_font_size       = 30.0;
   colortable_font_size  = 10.0;

   border_width = 20;   //  if do_annotation is true

   raw_ctable_filename = "MET_BASE/colortables/mode_raw.ctable";
   obj_ctable_filename = "MET_BASE/colortables/mode_obj.ctable";


};


////////////////////////////////////////////////////////////////////////


map_info = {

   line_color = [ 0, 0, 200 ];

   line_width = 1.0;

   source = [

      { 

         file_name = "MET_BASE/map/legacy/world_data_minus_usa";

         line_width = 0.5;

         line_color = [ 0, 0, 0 ];

      }, 

      { 

         file_name = "MET_BASE/map/legacy/country_data_minus_usa";

      }, 

      { 

         file_name = "MET_BASE/map/legacy/usa_state_data";

      }

   ];

};


////////////////////////////////////////////////////////////////////////




