name: Documentation
on:
  push:
    branches:
      - develop
      - develop-ref
      - feature_*
      - main_*
      - bugfix_*
    paths:
      - met/docs/**
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  documentation:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade python-dateutil requests sphinx \
          sphinx-gallery Pillow sphinx_rtd_theme sphinx-panels
      - name: Build docs
        run: ./.github/jobs/build_documentation.sh
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: documentation
          path: artifact/documentation
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: documentation_warnings.log
          path: artifact/doc_warnings.log
          if-no-files-found: ignore
